@page "/contactus"
@using DriveToGetDataWebsitePrototype.Data
@using DriveToGetDataWebsitePrototype.Models
@using Microsoft.EntityFrameworkCore
@using System.Net.Mail
@inject ApplicationDbContext DbContext
@rendermode InteractiveServer

<PageTitle>Contact Us</PageTitle>

<head>
    <style>
        .PageFooter ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow: hidden;
            background-color: #9C9C9C;
            text-align: center;
        }

        .PageFooter li {
            float: left;
        }

            .PageFooter li a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                padding-right: 50px;
                padding-left: 50px;
                text-decoration: none;
            }

                .PageFooter li a:hover {
                    background-color: #ddd;
                }
    </style>
</head>

<div class="HeaderInfo">
    <h1>Contact Us</h1>
    <h5>Got any ideas on how we can make this website better or anything new you'd like to see?
        Feel free to share your comments with us below.</h5>
    <p>Please provide us with an email address so we can contact you back if needed.</p>
</div>

<div class="ContactForm">
    @if (showThankYouMessage) // Show thank you message if form was submitted
    {
        <h2>Thank you for your feedback!</h2>
    }
    else // Show the form 
    {
        <form @onsubmit="SubmitForm"> 
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Please provide your email" @bind="@contactUs.Email" required> @*Bind the email input to the Email property of the contactUs object *@
            </div>
            <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" id="message" placeholder="Type your message here..." @bind="@contactUs.Message" required></textarea> @*Bind the message input to the Message property of the contactUs object *@
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    }
</div>

<div class="PageFooter">
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="/racedata">Race Data</a></li>
        <li><a href="/f1constructors">Constructors</a></li>
        <li><a href="/f1drivers">Drivers</a></li>
        <li><a href="/f1circuits">Circuits</a></li>
        <li><a href="/contactus">Contact Us</a></li>
    </ul>
    <p>This is a website prototype to be used in a Computing project by STU 84304 at Arden University and will be submitted in October 2024. This website is not to be published. </p>
</div>

@code {
    private ContactUs contactUs = new ContactUs(); // Create a new ContactUs object to store the form data
    private bool showThankYouMessage = false; 

    private async Task SubmitForm() // Method to submit the form
    {
        // Send email
        string emailBody = $"Email: {contactUs.Email}\nMessage: {contactUs.Message}";
        await SendEmail("dtgdcontactus@gmail.com", "New Contact Form Submission", emailBody);

        showThankYouMessage = true; // Show thank you message
    }

    private async Task SendEmail(string recipient, string subject, string body) // Method to send email
    {
        using (var client = new SmtpClient("smtp.gmail.com", 587)) // Use Gmail SMTP server
        {
            client.Credentials = new System.Net.NetworkCredential("dtgdcontactus@gmail.com", "ecrgstpcbwiykaxn"); // Use Gmail account to send email
            client.EnableSsl = true; // Enable SSL

            var message = new MailMessage // Create email message
                {
                    From = new MailAddress("dtgdcontactus@gmail.com"), 
                    Subject = subject,
                    Body = body,
                    IsBodyHtml = false,
                };
            message.To.Add(recipient); // Add recipient

            // Send email asynchronously
            await client.SendMailAsync(message);
        }
    }
}
