@page "/"

<PageTitle>Home</PageTitle>

<h1>This website prototype will provide information about Formula 1, Drivers, Dircuits and also provide Formula 1 race data.</h1>

<p>
    Formula 1 is a motor racing sport which started back in 1950. This single seater car racing sport has come a long way since its start and is now considered a very high class international sport.The sport is governed by the FIA (Federation Internationale de l'Automobile) and is the highest class of international auto racing. The word "formula" in the name refers to a set of rules to which all participants and cars must comply. These rules may be updated every year or during the year as FIA seems fit. Currently the F1 season consists of 24 race rounds which are held in different countries and different ciruits around the world. The season starts in March and ends in December of every year. Currently, 10 teams compete in this sport - these are called constructors. Each team has two drivers who compete both against each other and the other teams' drivers. At every race finish, the top 10 drivers are awarded points according to their finishing position and the driver with the most points at the end of the season is declared the World Champion. 

    <br/> 

    This web page is designed to share the love for this sport and the complexities behind it. Here you will find informtion regarding <a href="/f1circuits">circuits</a>, <a href="/f1constructors">constructors</a> and <a href="/f1drivers">drivers</a>. 

    <br/>

    If you'd like to explore some data which is collected during the race you can do so <a href="/racedata">here.</a>

    <br/>

    Enjoy
</p>


<div class="PageFooter">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/racedata">Race Data</a></li>
        <li><a href="/f1constructors">Formula 1</a></li>
        <li><a href="/f1drivers">Drivers</a></li>
        <li><a href="/f1circuits">Circuits</a></li>
        <li><a href="/contactus">Contact Us</a></li>
    </ul>
    <p>This is a website prototype to be used in a Computing project by STU 84304 at Arden University and will be submitted in October 2024. This website is not to be published. </p>
</div>